<launch>
    <arg name="closing_action" default="true"/>
    <arg name="target_angles" default="0.5"/>
    <arg name="grasp_control_action_topic" default="/jaco/grasp_execution/grasp_control"/>
    <arg name="robot_namespace" default="jaco"/>
    <arg name="load_arm_components_name_manager" default="false"/>

    # Load arm joint and gripper joint names?
    <arg name="load_arm_components_names" default="false"/>
    <arg name="names_config_file" default="$(find jaco_joints)/config/JacoJoints.yaml"/>
    <include if="$(arg load_arm_components_names)" 
             file="$(find jaco_joints)/launch/init_jaco_joints.launch">
        <arg name="names_config_file" default="$(arg names_config_file)"/>
    </include>

    <include file="$(find grasp_execution)/test/test_grasp_control.launch">
        <arg name="closing_action" value="$(arg closing_action)"/>
        <arg name="target_angles" value="$(arg target_angles)"/>
        <arg name="grasp_control_action_topic" value="$(arg grasp_control_action_topic)"/>
        <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    </include>
</launch>
