<launch>
    # Configuration file for the generation of the simple grasp and other
    # parameters for execution. Template can be found in:
    # "$(find grasp_execution)/config/SimpleAutomatedGraspTemplate.yaml"
    <arg name="config_file"/>

    # cube name
    <arg name="cube_name"/>

    # the frame where the cube will be spawned
    <arg name="gazebo_spawn_frame"/>    
    
    # where to spawn the cube, relative to gazebo_spawn_frame:
    <arg name="cube_x" default="0"/>
    <arg name="cube_y" default="0"/>
    <arg name="cube_z" default="1"/>

    # which automated execution to launch:
    # 1 = simple grasp from top
    # 2 = grasp from file. Requires argument grasp_filename to be set.
    # 3 = on-line grasp planning
    <arg name="run_type" default="1"/>
    
    # Filename of grasp to be loaded (only needed for run_type 2)
    <arg name="grasp_filename" default=""/>

    # Only needed for on-line grasp planning.
    # The file with the GraspIt! robot definition
    <arg name="robot_filename" default=""/>

    # Only needed for on-line grasp planning.
    # The file with the GraspIt! object definition
    <arg name="object_filename" default=""/>

    # Only needed for on-line grasp planning.
    # The file with the GraspIt! table definition.
    # Will be loaded in the GraspIt! origin.
    <arg name="table_filename" default=""/>

    # Only needed for on-line grasp planning.
    # Directory where to save the results of the on-line planning. Set to empty
    # if results should not be saved.
    <arg name="results_directory" default=""/>


    ##############################################################
    # Launch the nodes
    ##############################################################
     
    # Spawn the cube and recognize it
    <include file="$(find gazebo_test_tools)/launch/spawn_and_recognize_cube.launch">
        <arg name="cube_x" value="$(arg cube_x)"/>
        <arg name="cube_y" value="$(arg cube_y)"/>
        <arg name="cube_z" value="$(arg cube_z)"/>
        <arg name="cube_name" value="$(arg cube_name)"/>
        <arg name="in_frame" value="$(arg gazebo_spawn_frame)"/>
    </include>    

    # Load the ROS parameters from config file: 
    <arg name="node_name" default="simple_automated_grasp_execution"/>
    <rosparam ns="$(arg node_name)" file="$(arg config_file)"/>

    # Load ROS default parameters for the EigenGraspPlannerClient.
    # Only needed for run_type 3
    <include file="$(find grasp_planning_graspit_ros)/launch/eigengrasp_planner_client_params.launch">
        <arg name="node_name" value="$(arg node_name)"/>
    </include>
 
    # launch the node
    <node name="simple_automated_grasp_execution" pkg="grasp_execution" type="simple_automated_grasp_execution_node"
        args="$(arg cube_name) $(arg run_type) $(arg grasp_filename)" output="screen">
        <param name="object_name" value="$(arg cube_name)"/>
        <param name="run_type" value="$(arg run_type)"/>
        <param name="grasp_filename" value="$(arg grasp_filename)"/>
        <param name="robot_filename" value="$(arg robot_filename)"/>
        <param name="object_filename" value="$(arg object_filename)"/>
        <param name="table_filename" value="$(arg table_filename)"/>
        <param name="results_directory" value="$(arg results_directory)"/>
    </node>
</launch>
