<launch>
    # Configuration file for the grasp action server.
    <arg name="config_file" default="$(find grasp_execution)/config/GraspActionServer.yaml"/>

    # Load the ROS parameters from config file: 
    <arg name="node_name" default="simple_grasp_action_server"/>
    <rosparam ns="$(arg node_name)" file="$(arg config_file)"/>
 
	<node name="$(arg node_name)" pkg="grasp_execution" type="simple_grasp_action_server_node" output="screen"/>
</launch>
