<launch>

    # Load the grasp fix plugin for gazebo?
    <arg name="load_grasp_fix" default="false"/>

    #########################################
    # Load gazebo_state_plugins ROS parameters
    ########################################
    <include file="$(find gazebo_test_tools)/launch/gazebo_fake_object_recognition.launch"/>

	#####################################
	# Load MoveIt! collision object generator
    #####################################
    <include file="$(find object_moveit)/launch/collision_object_generator.launch">
        # use the default config file
        <arg name="config_file" value="$(find object_moveit)/config/CollisionObjectsGenerator.yaml"/>
    </include>

    #################################
    # Launch Jaco in Gazebo
    #################################
    <include file="$(find jaco_on_table)/launch/jaco_on_table_gazebo_controlled.launch">
        <arg name="load_world_plugins" value="true"/>
        <arg name="load_grasp_fix" value="$(arg load_grasp_fix)"/>
    </include>
    
    #################################
    # Launch simple grasp server 
    #################################
    <include file="$(find grasp_execution)/launch/simple_grasp_server.launch">
        <arg name="robot_namespace" value="jaco"/>
        <arg name="grasp_action_topic" value="/jaco/grasp_execution/grasp"/>
        <arg name="joint_control_topic" value="/jaco/joint_control"/>
        <arg name="joint_states_topic" value="/jaco/joint_state"/>
        <arg name="check_movement_rate" value="20"/>
        <arg name="no_move_tolerance" value="0.05"/>
        <arg name="no_move_still_cnt" value="5"/>
        <arg name="goal_tolerance" value="0.02"/>
    </include>
</launch>
