<launch>
    <include file="$(find gazebo_test_tools)/launch/spawn_and_recognize_cube.launch">
        <arg name="cube_x" value="0.2"/>
        <arg name="cube_y" value="0"/>
        <arg name="cube_z" value="0.76"/>
        <arg name="cube_name" value="cube1"/>
        <arg name="in_frame" value="robot_base"/>
    </include>    
    
    <node name="set_arm_to_cube_test" pkg="grasp_execution_jaco_tutorial" type="set_arm_to_cube_test"
        args=""/>
</launch>
