<launch>
   
    <arg name="node_name" default="simple_automated_grasp_execution"/>

    <rosparam ns="$(arg node_name)" file="$(find grasp_execution)/config/SimpleAutomatedGrasp.yaml"/>

    # the frame where the cube will be spawned
    <arg name="gazebo_spawn_frame" default="robot_base"/>    

    <arg name="cube_x" default="0.2"/>
    <arg name="cube_y" default="0"/>
    <arg name="cube_z" default="0.76"/>

    # cube name, just as specified in the yaml file
    # (needed here again because spawn_and_recognize_cube.launch doesn't read
    # from the same ROS parameters)
    <arg name="cube_name" default="cube1"/>

    # Spawn the cube and recognize it
    <include file="$(find gazebo_test_tools)/launch/spawn_and_recognize_cube.launch">
        <arg name="cube_x" value="$(arg cube_x)"/>
        <arg name="cube_y" value="$(arg cube_y)"/>
        <arg name="cube_z" value="$(arg cube_z)"/>
        <arg name="cube_name" value="$(arg cube_name)"/>
        <arg name="in_frame" value="$(arg gazebo_spawn_frame)"/>
    </include>    
   
    # launch the node
    <node name="simple_automated_grasp_execution" pkg="grasp_execution" type="simple_automated_grasp_execution" args="" output="screen"/>
</launch>
