<!-- this launch file starts a simple test: a grasp_execution_msgs/Grasp.action 
     is generated which has as grasp pose the current end effector pose, and then
     sends a request for this action. Properties of the grasp other than the grasp  
     pose can be initialzied in the arguments.
-->
<launch>
    <arg name="object_name"/>

    # namespace of the robot which is used to load the ArmComponentsNameManager.
    # For this node to work, the parameters must
    # have been launched with a launch file like in
    # $(find arm_components_name_manager)/launch/init_params.launch.
    <arg name="robot_namespace"/>

    <arg name="request_object_service_topic" default="/gazebo_objects/get_info"/>
    
    # true if this is a grasp, false if it is an un-grasp
    <arg name="grasping_action" default="true"/>
    
    # angles to set all the finger joints to when grasping
    <arg name="open_angles" default="0.05"/>
    
    # angles to set all the finger joints to when un-grasping
    <arg name="close_angles" default="0.53"/>
        
    # name of the action (topic where it is available)
    <arg name="grasp_action_topic" default="/jaco/grasp_execution/grasp"/>
   
    <arg name="effector_pos_tolerance" default="0.03"/>
    <arg name="effector_ori_tolerance" default="0.05"/>
    <arg name="joint_state_tolerance" default="0.05"/>
   
    # launch the node
    <node name="simple_grasp_action_client" pkg="grasp_execution" type="simple_grasp_action_client" args="" output="screen">
        <param name="grasp_action_topic" value="$(arg grasp_action_topic)"/>
        <param name="request_object_service_topic" value="$(arg request_object_service_topic)"/>
        <param name="robot_namespace" value="$(arg robot_namespace)"/>
        <param name="object_name" value="$(arg object_name)"/>
        <param name="grasping_action" value="$(arg grasping_action)"/>
        <param name="open_angles" value="$(arg open_angles)"/>
        <param name="close_angles" value="$(arg close_angles)"/>
        <param name="effector_pos_tolerance" value="$(arg effector_pos_tolerance)"/>
        <param name="effector_ori_tolerance" value="$(arg effector_ori_tolerance)"/>
        <param name="joint_state_tolerance" value="$(arg joint_state_tolerance)"/>
    </node>
</launch>
